<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <%- include('../../components/imports'); -%>
</head>

<body>
  <%- include('../../components/navbar'); -%>

  <div style="margin-left: 10%;">
    <div>
      <h1>Administração de Ativadores</h1>
    </div>

    <a href="/admin/actuators/create">
      <div class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Novo
      </div>
    </a>

    <div style="margin-top: 1rem;">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% actuators.forEach((actuator) => { %>
          <tr>
            <td><%= actuator.id %></td>
            <td><%= actuator.name %></td>
            <!-- <td><%= actuator.status ? "Ligado" : "Desligado" %></td> -->
            <td>
              <form action="/admin/actuators/<%= actuator.id %>" method="POST">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                  <%= actuator.status ? 'Ligado' : 'Desligado' %>
                </button>
              </form>
            </td>
          </tr>
          <% }); %>

        </tbody>
      </table>
    </div>
  </div>

</body>

</html>